.container-details {
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.title-details {
  font-family: -apple-system, BlinkMacSystemFont;
  height: 10vh;
  width: 30vw;
  display: flex;
  align-items: center;
  padding: 7vmin;

  font-size: 5vmin;
}

.content-details {
  height: 70vh;
  width: 90vw;
  padding: 5vmin;
  padding-top: 0vmin;
  margin: 0;
}
